.article {
    padding-top: 80px;
    padding-bottom: 120px;
}


.article-tittle-medium {
    font-size: 36px;
}

.article-text {
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-text:last-child {
    margin-bottom: 0;
}

.article-mb-1 {
    margin-bottom: 80px;
}

.article-mb-2 {
    margin-bottom: 40px;
}

.article-decor-wrapper {
    position: relative;
}


.article-decor-wrapper-1::before {
    top: 100px;
    left: 0;
}

.article-decor-wrapper-2::before {
    bottom: 136px;
    right: 0;
}

.article-list {
    margin-top: 0;
    padding-left: 16px;
}

.article-item:not(:last-child) {
    margin-bottom: 12px;
}

.article-item::marker {
    font-size: 22px;
    color: #3596ED;
}

.article-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #3596ED;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.article-play-button:hover {
    background-color: #38a2ff;

}

.article-play-button:not(:disabled):active {
    background-color: #2d82cd;
}

@media (width <=768px) {
    .article-decor-wrapper::before {
        display: none;
    }

    .article-tittle-medium {
        font-size: 32px;
    }

    .article-mb-1 {
        margin-bottom: 60px;
    }
}

@media (width <=576px) {
    .article {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .article-tittle-medium {
        font-size: 28px;
    }

    .article-mb-1 {
        margin-bottom: 40px;
    }

    .article-mb-2 {
        margin-bottom: 30px;
    }

    .article-play-button {
        width: 50px;
        height: 50px;
    }

    .article-play-button img {
        width: 18px;
        height: 18px;
    }
}