.open {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 60px;
}

.lorem {
    text-decoration: line-through;
    text-align: left;
}

.text {
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
}

.word {
    word-spacing: 30px;
    text-decoration: overline;
    text-decoration-style: wavy;
    text-decoration-color: #6a2fa0;
    color: #6a2fa0;
    text-shadow: 1px 1px 1px #5c4f4f;
}


.words {
    text-decoration: underline;
    text-decoration-style: double;
    letter-spacing: 5px;
}

h1 {
    text-shadow: 5px 5px #e54b65;
    text-decoration: overline;
    text-decoration-style: solid;
    letter-spacing: 10px;
}


