table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}

caption,
th,
td {
    border: 1px solid #000;

}

caption {
    font-size: 20px;
    border-bottom: none;
    font-weight: 600;
}

td {
    padding: 3px 6px;
}

th {
    padding: 3px;
}

.red {
    color: #d80b0b;
}