body {
background: rgb(191, 252, 192);
}

.container {
    font-family: sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c2baba;
    font-size: 20px;

}

.logo {
    width: 60px;
    height: 60px;
    background: pink;
    cursor: pointer;
}

.link {
    margin-right: 15px;
    color: black;
    cursor: pointer;
}

.phone {
    color: black;
    text-decoration: none;
    cursor: pointer;
}