* {
    box-sizing: border-box;
}

body {
    min-width: 375px;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.header {
    grid-column: 1 / 12 span;
    background: #7878f0;
    max-height: 200px;
}

.aside {
    grid-row: 2 / 12 span;
    background: #4cbc4c;
    min-width: 200px;
}

.main {
    grid-row: 2 / 12 span;
    grid-column: 2 / 12 span;
    background: #ffff00ca;
}

.main .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(4, 300px);
    gap: 20px;
    padding: 50px;
}

.article {
    background: orange;
}

.footer {
    grid-column: 1 / 12 span;
    background: #da5d4f;
    min-height: 200px;
}


@media (width <=768px) {
    .aside {
        display: none;
    }

    .main {
        grid-row: 2 / 12 span;
        grid-column: 1 / 12 span;
        background: #ffff00ca;
    }
}